<app-header></app-header>
<hello name="{{ name }}"></hello>

<form #accountForm="ngForm" (ngSubmit)="addValue(accountForm.value)">
<label>Account No.</label>
<input type="number" minlength="5" maxlength="5" name="accno" #accno="ngModel" ngModel>
<span *ngIf="accno.invalid && accno.touched">Please enter valid Account no.</span>
<br><br>
<label> Name</label>
<input type="text" name="fname" #fname="ngModel" placeholder="FirstName" ngModel>
<input type="text" name="lname" #lname="ngModel" placeholder="LastName" ngModel>
<br><br>
<label>Amount</label>
<input type="text" minlength="2" value="$" name="amt" #amt="ngModel" placeholder="Amount" ngModel >
<br><br>
<button>Add</button>

<ul>
<li *ngFor="let info of infom">{{ info.accno }}-{{ info.fname }}-{{ info.lname }}-{{ info.amt }}---<button (click)="deleteData(info)">Delete</button> </li>
</ul>
</form>
<!-- -<button (click)="deleteData()">Delete</button>-->